header
  .header-menu-wrapper
    input.menu-toggler(type='checkbox')
    img.hamburger-menu(src='/../img/hamburger.png' alt='hamburger-menu')
    img.cancel-menu(src='/../img/cancel.png' alt='close-menu')
    .header-menu-container
      ul
        li
          a(href='/bill') Bill Creation
        li
          a(href='/menu') Update Menu
        li
          a(href='/print') Print Menu
        li
          a(href='/expense') Expense Sheet
        li
          a(href='/review') User Review
        li
          a(href='#') Logout
  .company-logo
    h1 PRABANDH
  .user-profile
    img(src='/../img/profile.png' alt='user')