extend base

block content

    .container
        .error-wrapper
            h1.error-title Prabhand Error 😢 🤯;
            .error-message You are not logged In
            .error-login
                a(href='/login') Log In
