extends base



block content 
    .container
        .login-form-wrapper
            form.login-form
                h1.login-title Member Login
                .field-wrapper
                    input#username.input-field(type='text' name='log-username' autocomplete='off')
                    label.label(for='username') Username
                .field-wrapper
                    input#password.input-field(type='password' name='log-password' autocomplete='off')
                    label.label(for='password') Password
                .form-submit
                    input.btn.btn-submit(type='submit' value='Login')
                .form-forgot
                    a.forgot-link(href='#') Forgot Password?