:root {
  --primary: #f5d365;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background: url('/../img/prb_menu_back.jpg') no-repeat center center;
  background-size: cover;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  background-color: rgba(29, 50, 75, 45%);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 36px 2px rgba(0, 0, 0, 50%);
  width: 80%;
  position: relative;
}

.login-form .login-title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.login-form .login-title::before {
  position: absolute;
  content: '';
  left: 0;
  height: 4rem;
  width: 0.7rem;
  background-color: var(--primary);
}

.login-form .field-wrapper {
  margin: 4rem 0;
  position: relative;
  border-bottom: 1px solid #fff;
}

.login-form .label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.5s ease;
}

.login-form .input-field {
  background: transparent;
  border: none;
  outline: none;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--primary);
}

.login-input-fill {
  top: -5px !important;
  font-size: 1.2rem !important;
}

.login-form .input-field:focus + .label {
  top: -5px;
  font-size: 1.2rem;
}

input:-webkit-autofill {
  background: transparent;
  border: none;
  outline: none;
  -webkit-text-fill-color: var(--primary);
  width: 100%;
}

.login-form .form-submit {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.8rem 0;
  border-radius: 0.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
}

.login-form .btn-submit {
  width: 90%;
  background: transparent;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 25%);
  margin-bottom: 1.5rem;
}

.login-form .btn-submit:focus {
  transform: translateY(1px);
  border: 1px solid var(--primary);
}

.login-form .forgot-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  display: block;
}

@media only screen and (min-width: 768px) {
  .login-form-wrapper {
    width: 35rem;
  }
}

/* HEADER MENU */
header {
  height: 12vh;
  background-color: #3c3b3b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100vw;
}

.header-menu-wrapper {
  width: 40px;
  height: 40px;
}

.menu-toggler {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20%;
  left: 4%;
  opacity: 0;
  z-index: 2;
}

.hamburger-menu,
.cancel-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20%;
  left: 4%;
  transition: all 0.8s ease;
}

.header-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d324b73;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

.header-menu-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-size: 1.6rem;
}

.header-menu-container ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.cancel-menu {
  opacity: 0;
}

.menu-toggler:checked + .hamburger-menu {
  transform: rotate(125deg);
  opacity: 0;
}

.menu-toggler:checked ~ .cancel-menu {
  transform: rotate(180deg);
  opacity: 1;
}

.menu-toggler:checked ~ .header-menu-container {
  height: 100vh;
  opacity: 1;
  color: #fff;
  visibility: visible;
}

.company-logo h1 {
  color: #fff;
  font-size: 2.4rem;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  max-width: 100%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

/* Update Menu */

.update-menu-wrapper {
  width: 90%;
  margin: auto;
}

.um-selection {
  margin-top: 2rem;
}

.new-menu-add-wrapper {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.new-menu-add-wrapper a {
  text-decoration: none;
  color: #fff;
}

.um-selection select {
  background-color: #1d324b73;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 0;
  outline: none;
  border-radius: 10px;
  color: #fff;
}
.um-menus {
  margin-top: 2rem;
}

.um-menus .items {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 0.5fr 0.5fr;
  grid-gap: 1rem;
  background-color: #1d324b73;
  outline: none;
  padding: 2rem 1rem;
  border-radius: 10px;
  align-items: center;
  margin-top: 1rem;
}

.um-item-input {
  background-color: #a75656b2 !important;
}

.um-menus .items input {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}

.um-menus .items i {
  color: #fff;
}

.um-modal-wrapper {
  background-color: rgba(245, 211, 101, 65%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.um-modal-form {
  background-color: #091524b2;
  color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 36px 2px rgba(0, 0, 0, 50%);
}

.um-modal-form h1 {
  margin-bottom: 2rem;
}

.um-modal-cta {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}
.um-modal-form .modal-input {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.um-modal-form .btn-modal {
  text-decoration: none;
  background-color: #20bf6b;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
}

.um-modal-form .btn-modal--save {
  background-color: #20bf6b;
}

.um-modal-form .btn-modal--cancel {
  background-color: #eb4d4b;
}

.um-modal-hide {
  display: none;
}

/****************************** Print Menu *********************************************/
.pm-menu-container {
  background: url('/../img/prb_menu_back.jpg') no-repeat center center;
}
.print-menu-action {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pm-selection {
  width: 80%;
  display: flex;
  gap: 1rem;
}
.pm-selection select {
  background-color: #1d324b73;
  width: 70%;
  font-size: 1.4rem;
  padding: 1rem 0.5rem;
  outline: none;
  border-radius: 10px;
  color: #fff;
}

#pm-select-format {
  width: 30%;
}

.pm-btn-print {
  color: rgb(43, 41, 41);
}

.pm-seperator {
  width: 100%;
  height: 2px;
  background-color: #1d324b73;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pm-head-img {
  max-width: 100%;
}

.pm-menu-items {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
}

.pm-menu-items h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.pm-menu-item-left,
.pm-menu-item-right {
  width: 50%;
}

.pm-menu-item-2 {
  margin-top: 1.5rem;
}

.pm-menu-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 0.6rem;
}

.pm-vertical-seperator {
  width: 3px;
  height: 60vh;
  background-color: #000;
  margin: 1rem;
  margin-bottom: 4rem;
}

.pm-footer {
  background-color: #1d324ba4;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .pm-menu-container {
    width: 50vw;
    margin: auto;
  }

  .pm-menu-items {
    font-size: 1.4rem;
  }
}

/* ********************************BILL PAGE CSS ******************************* */

/* Second Page */

.bill-container {
  width: 90%;
  margin: auto;
}

.bill-menu-category {
  margin-top: 1.5rem;
}

.bill-category {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #1d324b73;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  border-radius: 10px;
}

.bill-selection-info {
  background-color: #1d324b73;
  color: #fff;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 100%;
  border-radius: 10px;
}

.bill-selection-info__result {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.review-cta,
.review-prev,
.review-next,
.receipt-prev {
  text-align: center;
  display: block;
  width: 20%;
  padding: 0.5rem 1rem;
  background-color: #fabc2a;
  text-decoration: none;

  font-weight: 700;
  border-radius: 1rem;
  color: #000;
}

.bill-menu-items {
  margin-top: 2rem;
  width: 100%;
}

.bill-menu-item__wrapper {
  color: #fff;
  background-color: #1d324b73;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.menu-item__qty {
  padding-left: 1rem;
}

.bill-menu-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
  /* color: var(--lighgray); */
  font-size: 1.2rem;
}

.bill-menu-item input[type='number'] {
  width: 80%;
}

/* .menu-item__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-item__result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item__wrapper--select {
  background-color: #09814a;
}

.menu-item--select {
  color: var(--lighgray);
} */

/* REVIEW PAGE */
.bill-seperator {
  width: 100%;
  margin: 1rem auto;
  height: 1px;
  background-color: #fff;
}

.bill-review-container {
  background-color: #1d324bbd;
  min-height: 100vh;
  color: #fff;
}

.bill-navigation {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.bill-compliment-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  color: #fff;
  margin: 1.5rem 0;
}

.bill-compliment-item {
  display: flex;
  align-items: center;
}

.bill-review-price-items {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.bill-review-price-item {
  display: grid;
  grid-template-columns: 2.5fr 1fr 2fr;
  grid-gap: 1rem;
  margin-top: 1.5rem;
  align-items: center;
}

.bill-review-price input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: none;
  width: 80%;
}

.bill-review-total {
  border-top: 1px solid var(--primary);
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.review-error {
  color: #eb4d4b;
}

/* Last Page */

.bill-receipt-navigation {
  padding: 1rem 0;
}

.bill-company-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  margin: 2rem 0;
  color: #fabc2a;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill-company-title::after {
  display: block;
  content: '';
  width: 3rem;
  height: 0.3rem;
  background-color: #fff;
  margin: 1rem;
}

.bill-company-title::before {
  display: block;
  content: '';
  width: 3rem;
  height: 0.3rem;
  background-color: #fff;
  margin: 1rem;
}

.bill-receipt-container {
  background-color: var(--darkGray);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.55)),
    url('/img/bill-back.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

.bill-final-receipt {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 1.5rem;
  color: #fabc2a;
  margin: 1.5rem 0;
  font-size: 1.4rem;
}

.bill-final-receipt--total {
  border-top: 1px solid #fabc2a;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 1.5rem;
  color: #fabc2a;
  margin: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.hidden {
  display: none !important;
}

.menu-checked {
  background-color: #20bf6b;
}

.comp::after {
  content: 'C';
  font-size: 1rem;
  background-color: #09814a;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .bill-cta,
  .bill-review-container,
  .bill-receipt-container {
    width: 50%;
    margin: auto;
  }
}

/* **********************************EXPENSE PAGE ****************************** */

.expense-container {
  width: 90%;
  margin: auto;
}

.expense-hidden {
  display: none;
}

.expense-summary {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.expense-summary--income,
.expense-summary--balance {
  background-color: rgba(32, 191, 107, 43%);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
}

.expense-summary--expense {
  background-color: rgba(235, 77, 75, 66%);
  padding: 1rem 0.8rem;
  border-radius: 1rem;
}

.expense-summary--title {
  font-weight: 700;
  font-size: 1.6rem;
}

.expense-summary--value {
  font-weight: 700;
  font-size: 2rem;
}

.expense-seperator {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 1.5rem 0;
}

.expense-cta {
  width: 80%;
  margin: auto;
  background-color: #48a3d7;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

.expense-cta-btn {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}

.expense-month {
  background-color: #61c4d1;
  color: #fff;
  width: 40px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-transform: uppercase;
}

.expense-date {
  background-color: #626756;
  color: #fff;
  padding: 0.5rem;
  display: block;
  width: 40px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 72, 30, 25%);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  margin: 1rem 0 2rem 0;
}

.expense-info {
  flex: 1;
  margin: 0 1.5rem;
}

.expense-info h1 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.expense-stats--income,
.expense-stats--balance {
  font-size: 1.6rem;
  font-weight: 700;
}

.expense-stats--expense {
  font-size: 1.6rem;
  font-weight: 700;
}

.expense-stats {
  display: flex;
  justify-content: space-between;
}

.expense-delete {
  margin: 0 1rem;
}

.expense-stats--income,
.expense-stats--balance {
  color: #83faba;
}

.expense-stats--expense {
  color: #eb4d4b;
}

.expense-modal-wrapper {
  background-color: rgba(245, 211, 101, 65%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.expense-modal-form {
  background-color: #091524b2;
  color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 36px 2px rgba(0, 0, 0, 50%);
}

.expense-modal-form .modal-input {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
}

.expense-modal-cta .btn-modal {
  text-decoration: none;
  background-color: #20bf6b;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  border: none;
}

.expense-modal-cta {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.expense-modal-cta .btn-modalexp--cancel {
  background-color: #eb4d4b;
}

/* **********************************EXPENSE ITEM ****************************** */

.expense-info {
  color: rgb(54, 53, 53);
  font-size: 1.4rem;
  margin-top: 1rem;
}

.expense-seperator {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 1.5rem 0;
}

.expense-item-container {
  width: 90%;
  margin: auto;
}

.expense-item-cta {
  display: flex;
  justify-content: space-between;
}

.expense-redirect {
  margin-top: 1rem;
}

.expense-item-cta a,
.expense-redirect a {
  color: #fff;
  background-color: #48a3d7;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 1rem;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 72, 30, 25%);
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  margin: 1rem 0 2rem 0;
}

.expense-item p {
  font-size: 1.6rem;
  color: rgb(54, 53, 53);
  text-transform: uppercase;
}

.item-total-expense {
  font-weight: 700;
}

.expense-item-modal {
  background-color: rgba(245, 211, 101, 65%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.expense-item-modal-content {
  background-color: #091524b2;
  color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 36px 2px rgba(0, 0, 0, 50%);
}

.item-header {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.expense-detail--input {
  width: 100%;
  background: transparent;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  color: #fff;
}

.expense-detail--input::placeholder {
  color: rgb(216, 214, 214);
}

.btn-modal-item-close,
.btn-modal-item-save {
  text-decoration: none;
  background-color: #20bf6b;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  border: none;
}

.btn-modal-item-close {
  background-color: #eb4d4b;
}

.expense-item-modal-cta {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/************************************ FEEDBACK PAGE ********************************/
.feedback-container {
  width: 90%;
  margin: auto;
}

.feedback-wrapper {
  margin-top: 3rem;
  overflow: hidden;
}

.feedback-header {
  background-color: #4d4d4f;
  padding: 1rem 2rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.feeback-header-button {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
  border-radius: 50%;
}

.close {
  background-color: #ed1c6f;
}

.maximize {
  background-color: #e8e925;
}

.minimize {
  background-color: #74c54f;
}

.feedback-form h1 {
  font-size: 1.6rem;
  color: #ed1c6f;
  margin-bottom: 1rem;
  letter-spacing: 1.2px;
}

.feedback-content,
.feedback-content-end {
  background-color: #3e3e3e;
  padding: 3rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 2s ease-in-out;
  height: 40rem;
}

.feedback-content-end {
  transform: translateY(-1000px);
}

.feedback-content-end P {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  color: #e8e925;
  font-weight: 700;
  margin-bottom: 1rem;
}

.feedback-input {
  width: 100%;
  padding: 1rem 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 1.4rem;
  outline: none;
  text-transform: uppercase;
  color: #ddd;
  font-weight: 700;
  margin-bottom: 1rem;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.feedback-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-cta p {
  font-size: 0.8rem;
  color: #ddd;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.feedback-btn {
  background-color: #ea1d6f;
  border: none;
  color: #ddd;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.feedback-content-slide {
  transform: translateY(-500px);
}

.feedback-content-end-slide {
  transform: translateY(-400px);
}

@media only screen and (min-width: 768px) {
  .feedback-container {
    display: flex;
    justify-content: center;
  }
}

/************************************ ERROR PAGE ********************************/
.error-wrapper {
  margin-top: 2rem;
  color: #eb4d4b;
}

.error-message {
  font-size: 1.6rem;
}

.error-title {
  font-size: 2.4rem;
}

.error-login a {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

/* UTILITY */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* LOADER */
#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('/../img/loader.gif') no-repeat center center;
}

.loader-hide {
  display: none;
}
